### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### Gradle ###
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting

### Local Environment ###
local/.env
local/localstack/
src/main/resources/application-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
out/
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### Eclipse ###
.settings/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
Icon
.Spotlight-V100
.Trashes
._*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Other
coverage/
.yarn/
.pnp/
.pnp.cjs
.pnp.js